<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eventbrote</title>
</head>
<body>

<h1>{{ events | length }} Events</h1>

<ul>
	{% for e in events %}
	<li>
		<strong>{{ e.name }}</strong> in <em>{{ e.location }}</em>: {{ e.price | localizedcurrency('USD') }}
		<span><i>{{ e.description }}</i></span> 
	</li>	
	{% endfor %}
</ul>

</body>
</html>


