<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eventbrote</title>
</head>
<body>

<h1>{{ events | length }} Events</h1>

{% for e in events %}
<article>
	<header>
		<h2>{{ e.name }}</h2>
	</header>
	<p>{{ e.description }}</p>
	<ul>
		<li>Date:<strong>{{ e.startsAt | date(null,"Europe/Paris") }}</strong></li>
		<li>Location:<strong>{{ e.location }}</strong></li>
		<li>Price:<strong>{{ e.price | localizedcurrency('USD') }}</strong></li>
	</ul>
</article>	
{% endfor %}

</body>
</html>


